@font-face {
  font-family: 'fa-brands-400';
  src: url(../fonts/fa-brands-400.ttf);
}

@font-face {
  font-family: 'fa-solid-900';
  src: url(../fonts/fa-solid-900.ttf);
}

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url(../fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  font-size: 16px;
  color: #8c8c8c;
  font-family: 'Montserrat-Light';
}

body.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.header {
  background: url(../img/header/bg.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.header .nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .logo h2 {
  font-family: 'Raleway-Regular';
  font-size: 34px;
  color: #ffffff;
  letter-spacing: -1.36px;
  font-weight: normal;
  margin-left: 2px;
}

.header .nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .menu .menu-nav a {
  color: #ffffff;
  font-size: 14px;
  margin-left: 30px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.header .nav .menu .menu-nav a:hover {
  color: #c7b299;
}

.header .nav .menu .menu-nav a:first-of-type {
  margin-left: 0;
}

.header .nav .menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
}

.header .nav .menu .menu-items .shopping {
  margin-right: 10px;
}

.header .nav .menu .menu-items .shopping a .fas {
  font-family: 'fa-solid-900';
  font-size: 18px;
  color: #ffffff;
}

.header .nav .menu .menu-items .search {
  margin-left: 25px;
}

.header .nav .menu .menu-items .search form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .menu .menu-items .search form .search-input {
  display: none;
}

.header .nav .menu .menu-items .search form .search-input input {
  border: 1px solid #c7b299;
  border-radius: 3px;
  width: 150px;
  color: #ffffff;
  padding-left: 5px;
}

.header .nav .menu .menu-items .search form a {
  position: absolute;
  right: 5px;
}

.header .nav .menu .menu-items .search form a .fas {
  font-family: 'fa-solid-900';
  color: #ffffff;
}

.header .header-slider-wrap {
  margin-top: 280px;
}

.header .header-slider-wrap .header-slider .slick-list {
  overflow: hidden;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block {
  text-align: center;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title {
  color: #ffffff;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h5 {
  font-family: 'Raleway-Medium';
  font-size: 36px;
  font-weight: 500;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h4 {
  font-family: 'Raleway-ExtraBold';
  font-size: 52px;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title p {
  margin: 10px auto 0;
  line-height: 1.5;
  width: 560px;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title .btn {
  margin-top: 50px;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title .btn button {
  background: #998675;
  width: 170px;
  height: 50px;
  text-transform: uppercase;
  border-radius: 3px;
  color: #ffffff;
  -webkit-box-shadow: inset 0 -3px 0 0 #736357;
          box-shadow: inset 0 -3px 0 0 #736357;
  font-family: 'Raleway-ExtraBold';
  font-size: 14px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title .btn button:hover {
  opacity: .7;
}

.header .header-slider-wrap .header-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 40px;
  margin-bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .header-slider-wrap .header-slider .slick-dots li {
  list-style: none;
  width: 11px;
  height: 11px;
  background: #ffffff;
  border-radius: 50%;
  opacity: .5;
  margin-left: 10px;
}

.header .header-slider-wrap .header-slider .slick-dots li:first-of-type {
  margin-left: 0;
}

.header .header-slider-wrap .header-slider .slick-dots li button {
  font-size: 0;
}

.header .header-slider-wrap .header-slider .slick-dots .slick-active {
  width: 15px;
  height: 15px;
  background: transparent;
  border: 2px solid #d3c1ad;
}

.header .header-slider-wrap .header-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .header-slider-wrap .header-arrow-left {
  left: 150px;
}

.header .header-slider-wrap .header-arrow-right {
  right: 150px;
}

.feedback {
  padding: 80px 0;
}

.feedback .feedback-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback .feedback-wrap .block {
  text-align: center;
  width: 275px;
  position: relative;
  padding-bottom: 30px;
}

.feedback .feedback-wrap .block::before {
  content: '';
  position: absolute;
  bottom: 0;
  background: #f1eee9;
  width: 70px;
  height: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.feedback .feedback-wrap .block:hover .fas {
  color: #c7b299;
  font-size: 44px;
}

.feedback .feedback-wrap .block:hover h5 {
  color: #c7b299;
}

.feedback .feedback-wrap .block:hover::before {
  background: #c7b299;
}

.feedback .feedback-wrap .block .fas {
  font-family: 'fa-solid-900';
  color: #555555;
  font-size: 49px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.feedback .feedback-wrap .block h5 {
  margin-top: 20px;
  font-family: 'Raleway-SemiBold';
  font-size: 22px;
  color: #555555;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.feedback .feedback-wrap .block p {
  margin-top: 10px;
  font-size: 14px;
  color: #8c8c8c;
  line-height: 1.71;
}

.about {
  background: #fbfaf8;
  padding-top: 80px;
}

.about .title {
  text-align: center;
}

.about .title h5 {
  font-family: 'Raleway-SemiBold';
  font-size: 30px;
  color: #555555;
}

.about .title p {
  margin: 20px auto 0;
  width: 770px;
  line-height: 1.75;
}

.about .about-img {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about-img .about-img_left {
  margin-top: 82px;
}

.about .about-img .about-img_center {
  margin-left: -540px;
  z-index: 1;
}

.about .about-img .about-img_right {
  margin-left: -540px;
  margin-top: 82px;
}

.about .about-footer {
  background: -webkit-gradient(linear, left bottom, left top, from(#211b19), to(#4e3427));
  background: -webkit-linear-gradient(bottom, #211b19, #4e3427);
  background: -o-linear-gradient(bottom, #211b19, #4e3427);
  background: linear-gradient(to top, #211b19, #4e3427);
  padding: 50px 0;
}

.about .about-footer .about-footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-footer .about-footer-wrap .left h6 {
  font-family: 'Raleway-Regular';
  color: #ffffff;
  font-size: 28px;
  font-weight: normal;
}

.about .about-footer .about-footer-wrap .left h6 span {
  color: #c7b299;
}

.about .about-footer .about-footer-wrap .left p {
  font-size: 18px;
  color: #615855;
}

.about .about-footer .about-footer-wrap .btn button {
  width: 170px;
  height: 50px;
  border-radius: 3px;
  background: #998675;
  -webkit-box-shadow: inset 0 -3px 0 0 #736357;
          box-shadow: inset 0 -3px 0 0 #736357;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Raleway-ExtraBold';
  font-size: 14px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.about .about-footer .about-footer-wrap .btn button:hover {
  opacity: .7;
}

.portfolio {
  padding: 80px 0;
}

.portfolio .title {
  text-align: center;
}

.portfolio .title h5 {
  font-family: 'Raleway-SemiBold';
  font-size: 30px;
  color: #555555;
}

.portfolio .title p {
  margin: 15px auto 0;
  width: 770px;
  line-height: 1.75;
}

.portfolio .portfolio-content {
  margin-top: 40px;
}

.portfolio .portfolio-content .portfolio-nav {
  text-align: center;
}

.portfolio .portfolio-content .portfolio-nav a {
  padding: 8px 20px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-size: 14px;
  color: #8c8c8c;
  margin-left: 10px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.portfolio .portfolio-content .portfolio-nav a:hover {
  background: #998675;
  color: #ffffff;
}

.portfolio .portfolio-content .portfolio-nav a:first-of-type {
  margin-left: 0;
}

.portfolio .portfolio-content .portfolio-wrap {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .portfolio-content .portfolio-wrap .card {
  margin-bottom: 30px;
}

.portfolio .portfolio-content .portfolio-wrap .card:hover .desc {
  background: #362f2b;
}

.portfolio .portfolio-content .portfolio-wrap .card:hover .desc h6 {
  color: #ffffff;
}

.portfolio .portfolio-content .portfolio-wrap .card:hover .desc p {
  color: #c7b299;
}

.portfolio .portfolio-content .portfolio-wrap .card:hover .img .overlay {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.portfolio .portfolio-content .portfolio-wrap .card:hover .img::before {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.portfolio .portfolio-content .portfolio-wrap .card .img {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio-content .portfolio-wrap .card .img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.portfolio .portfolio-content .portfolio-wrap .card .img .overlay {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.portfolio .portfolio-content .portfolio-wrap .card .img .overlay a {
  margin-left: 30px;
}

.portfolio .portfolio-content .portfolio-wrap .card .img .overlay a:first-of-type {
  margin-left: 0;
}

.portfolio .portfolio-content .portfolio-wrap .card .img .overlay a .fas {
  font-family: 'fa-solid-900';
  color: #ffffff;
  font-size: 26px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.portfolio .portfolio-content .portfolio-wrap .card .img .overlay a .fas:hover {
  color: #c7b299;
}

.portfolio .portfolio-content .portfolio-wrap .card .desc {
  padding: 30px;
  background: #fbfaf8;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.portfolio .portfolio-content .portfolio-wrap .card .desc h6 {
  font-family: 'Raleway-Medium';
  font-size: 20px;
  font-weight: 500;
  color: #c7b299;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.portfolio .portfolio-content .portfolio-wrap .card .desc p {
  margin-top: 5px;
  font-size: 14px;
  color: #d1d1d1;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.portfolio .btn {
  margin-top: 10px;
  text-align: center;
}

.portfolio .btn button {
  text-transform: uppercase;
  background: #998675;
  width: 170px;
  height: 50px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -3px 0 0 #736357;
          box-shadow: inset 0 -3px 0 0 #736357;
  font-family: 'Raleway-ExtraBold';
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}

.portfolio .btn button:hover {
  opacity: .7;
}

.portfolio-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.portfolio-modal.show {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.portfolio-modal .portfolio-modal-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
}

.portfolio-modal .portfolio-modal-wrap .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(251, 250, 248, 0.8);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  position: absolute;
  cursor: pointer;
  right: 0;
  top: -30px;
}

.portfolio-modal .portfolio-modal-wrap .close span {
  width: 2px;
  height: 10px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.portfolio-modal .portfolio-modal-wrap .close span::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 10px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.portfolio-modal .portfolio-modal-wrap .content img {
  width: 100%;
  height: 100%;
}

.video {
  width: 100%;
  height: 705px;
  position: relative;
}

.video::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.video.remove::before {
  display: none;
}

.video.remove .desc {
  display: none;
}

.video iframe {
  width: 100%;
  height: 100%;
}

.video .desc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  z-index: 5;
}

.video .desc h6 {
  font-family: 'Raleway-Medium';
  font-size: 30px;
  font-weight: 500;
}

.video .desc p {
  margin: 15px auto 0;
  width: 570px;
  line-height: 1.75;
}

.test1 {
  background: #fbfaf8;
  padding-top: 80px;
}

.test1 .test1-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test1 .test1-wrap .content h6 {
  color: #555555;
  font-family: 'Raleway-SemiBold';
  font-size: 30px;
}

.test1 .test1-wrap .content .content-text {
  margin-top: 30px;
  line-height: 1.75;
  width: 665px;
}

.test1 .test1-wrap .content .content-desc {
  margin-top: 40px;
  padding-left: 50px;
}

.test1 .test1-wrap .content .content-desc p {
  line-height: 2;
  position: relative;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test1 .test1-wrap .content .content-desc p::before {
  content: '>';
  position: absolute;
  left: 0;
  color: #ffffff;
  background: #c7b299;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */