.header 
  background: url(../img/header/bg.png) no-repeat 
  background-size: cover 
  width: 100%
  height: 100vh 
  & .nav 
    display: flex 
    align-items: center
    justify-content: space-between
    padding-top: 40px 
    & .logo 
      display: flex 
      align-items: center
      & h2 
        +ral_reg 
        font-size: 34px 
        color: #ffffff
        letter-spacing: -1.36px 
        font-weight: normal
        margin-left: 2px 
    & .menu 
      display: flex 
      align-items: center
      & .menu-nav 
        & a 
          color: #ffffff
          font-size: 14px 
          margin-left: 30px 
          transition: 0.3s linear 
          &:hover
            color: #c7b299
          &:first-of-type
            margin-left: 0
      & .menu-items
        display: flex 
        align-items: center
        margin-left: 60px 
        & .shopping 
          margin-right: 10px 
          & a 
            & .fas 
              +solid 
              font-size: 18px 
              color: #ffffff
        & .search 
          margin-left: 25px 
          & form 
            position: relative
            display: flex 
            align-items: center
            & .search-input 
              display: none 
              & input 
                border: 1px solid #c7b299
                border-radius: 3px 
                width: 150px 
                color: #ffffff
                padding-left: 5px 
            & a 
              position: absolute
              right: 5px  
              & .fas 
                +solid 
                color: #ffffff
  & .header-slider-wrap 
    margin-top: 280px 
    & .header-slider 
      & .slick-list 
        overflow: hidden
        & .slick-track 
          display: flex 
          & .header-slider-block 
            text-align: center
            & .title 
              color: #ffffff
              & h5 
                +ral_med 
                font-size: 36px 
                font-weight: 500
              & h4 
                +ral_ebold 
                font-size: 52px 
              & p 
                margin: 10px auto 0 
                line-height: 1.5 
                width: 560px 
              & .btn 
                margin-top: 50px 
                & button 
                  background: #998675
                  width: 170px 
                  height: 50px 
                  text-transform: uppercase
                  border-radius: 3px 
                  color: #ffffff
                  box-shadow: inset 0 -3px 0 0 #736357
                  +ral_ebold 
                  font-size: 14px 
                  transition: 0.3s linear 
                  &:hover
                    opacity: .7
      & .slick-dots 
        display: flex 
        align-items: center
        position: absolute
        bottom: 40px 
        margin-bottom: 0
        left: 50%
        transform: translateX(-50%)
        & li 
          list-style: none 
          width: 11px 
          height: 11px 
          background: #ffffff
          border-radius: 50%
          opacity: .5
          margin-left: 10px 
          &:first-of-type
            margin-left: 0
          & button 
            font-size: 0
        & .slick-active 
          width: 15px 
          height: 15px 
          background: transparent 
          border: 2px solid #d3c1ad
    & .header-arrow
      position: absolute
      top: 50%
      transform: translateY(-50%)
    & .header-arrow-left 
      left: 150px 
    & .header-arrow-right 
      right: 150px 


              

